# Unemployment in India and Credit Card Spendings

We have data from two context:
- Unemployment in India
- Credit Card Spendings

In [19]:
import pandas as pd
from ydata_profiling import ProfileReport
from tabulate import tabulate

## Load the data

In [4]:
df_spendings = pd.read_csv(r'.\kaggle\input\Credit_card_transactions_with_noise_missing_dates_adjusted.csv')
df_unemployment = pd.read_csv(r'.\kaggle\input\Unemployment in India.csv')

In [5]:
df_spendings.head()

   index                   City       Date Card Type Exp Type Gender    Amount
0      0           Delhi, India  29-Oct-20      Gold    Bills    NaN   90060.0
1      1  Greater Mumbai, India  22-Aug-19  Platinum    Bills      F   29980.0
2      2       Bengaluru, India  27-Aug-20    Silver    Bills      F  111293.0
3      3  Greater Mumbai, India  12-Apr-20       NaN    Bills      F  116197.0
4      4       Bengaluru, India  05-May-19      Gold    Bills      F  162189.0

In [28]:
df_unemployment.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

## Project Area

### What to do

Spendings: 

- Add month column in spendings data
- Split the city from each City row
- Get a refdata to find the region of each city
- Drop column of index  

Unemployment:

- Add month column in unemployment data
- Drop missing values rows

### Question

Será que a taxa de desemprego influencia na utilização do cartão de crédito?

- Audience: Gerentes de bancos, governo para controle da inflação, bancos para controle de risco de crédito.

Not already answered:  
Plausible:  
Answerable:  
Specific:

## Describing Mannualy and automatically:

- Describe the dataset

- Identify the most important information

- Identify the missing data

- Identify problems regarding data quality

### Describe the dataset

#### Automaticly with ydata-profiling

In [7]:
# Unployment data
profile_unemployment = ProfileReport(df_unemployment,
                                     title='Unemployment in India',
                                     explorative=True)

# Spendings data
profile_spendings = ProfileReport(df_spendings,
                                  title='Credit card transactions - India - Simple',
                                  explorative=True)

# Save the reports
profile_unemployment.to_file(r'.\profiles\unemployment_data_profile.html',
                             silent=True)
profile_spendings.to_file(r'.\profiles\spendings_data_profile.html',
                          silent=True)

#### Manually

##### Describe

Spending

In [22]:
# Describe the numerical columns
print(tabulate(df_spendings.describe().T, headers='keys', tablefmt='pretty')) #type: ignore

# Describe the categorical columns
print(tabulate(df_spendings.describe(include='object').T, headers='keys', tablefmt='pretty')) #type: ignore

+----------+---------+--------------------+--------------------+-------+---------+----------+----------+-----------+
|          |  count  |        mean        |        std         |  min  |   25%   |   50%    |   75%    |    max    |
+----------+---------+--------------------+--------------------+-------+---------+----------+----------+-----------+
| df_index | 26052.0 |      13025.5       | 7520.708942646298  |  0.0  | 6512.75 | 13025.5  | 19538.25 |  26051.0  |
|  Amount  | 24749.0 | 156607.69336134792 | 103632.26286556023 | 945.0 | 77131.0 | 152927.0 | 227364.0 | 1069713.0 |
+----------+---------+--------------------+--------------------+-------+---------+----------+----------+-----------+
+-----------+-------+--------+------------------+-------+
|           | count | unique |       top        | freq  |
+-----------+-------+--------+------------------+-------+
|   City    | 24749 |  2892  | Bengaluru, India | 3057  |
|   Date    | 24749 |  730   |    28-Jan-19     |  62   |
| Card Type | 24749 |   4    |      Silver      | 6494  |
| Exp Type  | 24749 |   6    |       Food       | 5195  |
|  Gender   | 24749 |   2    |        F         | 13005 |
+-----------+-------+--------+------------------+-------+

Unemployment

In [23]:
# Describe the unemployment data
print(tabulate(df_unemployment.describe().T, headers='keys', tablefmt='pretty')) #type: ignore

# Describe the categorical columns
print(tabulate(df_unemployment.describe(include='object').T, headers='keys', tablefmt='pretty')) #type: ignore

+-----------------------------------------+-------+--------------------+--------------------+---------+-------------------+-----------+--------------------+------------+
|                                         | count |        mean        |        std         |   min   |        25%        |    50%    |        75%         |    max     |
+-----------------------------------------+-------+--------------------+--------------------+---------+-------------------+-----------+--------------------+------------+
|     Estimated Unemployment Rate (%)     | 740.0 | 11.787945945945946 | 10.721298373157788 |   0.0   | 4.657500000000001 |   8.35    | 15.887500000000001 |   76.74    |
|           Estimated Employed            | 740.0 | 7204460.025675676  | 8087988.429457784  | 49420.0 |     1190404.5     | 4744178.5 |     11275489.5     | 45777509.0 |
| Estimated Labour Participation Rate (%) | 740.0 | 42.630121621621626 | 8.111094365865874  |  13.33  |      38.0625      |   41.16   |       45.505       |   72.57    |
+-----------------------------------------+-------+--------------------+--------------------+---------+-------------------+-----------+--------------------+------------+
+-----------+-------+--------+----------------+------+
|           | count | unique |      top       | freq |
+-----------+-------+--------+----------------+------+
|  Region   |  740  |   28   | Andhra Pradesh |  28  |
|   Date    |  740  |   14   |   31-10-2019   |  55  |
| Frequency |  740  |   2    |    Monthly     | 381  |
|   Area    |  740  |   2    |     Urban      | 381  |
+-----------+-------+--------+----------------+------+

Appointments

Speding

#### Identify the most important information

#### Identify the missing data

#### Identify problems regarding data quality

##### Integrity constraints 

**Unemployment data**:  

- We should have unique month-year for each row  (Uniqueness)
- Percentage should be between 0 and 100  (Value Range)
- There should be only Urban and Rural as values for Area 

**Spendings data**:

- Amount should be positive and greater than 0 and not null (Value Range)
- Date should be filled
- City should be filled to allow integration with unemployment data

## 3. Define an integrated data model