# üßëüèª‚Äçüíºüí≥ Unemployment in India and Credit Card Spendings

    Note: This notebook is the execution of an Data Collection and Pre-Procesing project.

### 1. Question

**Does the unemployment rate influence the use of credit card?**

- Stakeholders: 
  - Bank managers
  - Government for inflation control
  - Banks for credit risk control

Not already answered:  
Plausible:  
Answerable:  
Specific:

In [38]:
import pandas as pd
from ydata_profiling import ProfileReport
from tabulate import tabulate

## 2. Load the data

We have data from two context:
- Unemployment in India
- Credit Card Spendings

In [5]:
df_spendings = pd.read_csv(r'.\kaggle\input\Credit_Card_Transactions_date_changed.csv')
df_unemployment = pd.read_csv(r'.\kaggle\input\Unemployment in India.csv')

In [6]:
# Credit Card Spendings
df_spendings.head()

   index                   City        Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  2020-10-29       Gold    Bills      F   82475
1      1  Greater Mumbai, India  2019-08-22   Platinum    Bills      F   32555
2      2       Bengaluru, India  2020-08-27     Silver    Bills      F  101738
3      3  Greater Mumbai, India  2019-04-12  Signature    Bills      F  123424
4      4       Bengaluru, India  2020-05-05       Gold    Bills      F  171574

In [7]:
# Unemployment in India
df_unemployment.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

-------------------------- Project Area --------------------------

### What to do

Spendings: 

- Add month column in spendings data
- Split the city from each City row
- Get a refdata to find the region of each city
- Drop column of index  

Unemployment:

- Add month column in unemployment data
- Drop missing values rows

## 2.c. Describe each original data set selected (M+A)

### 2.c.i. Describe the dataset

#### Automaticly with ydata-profiling ü§ñ

In [17]:
# Spendings data
profile_spendings = ProfileReport(df_spendings,
                                  title='Credit card transactions - India - Simple',
                                  explorative=True)

# Unployment data
profile_unemployment = ProfileReport(df_unemployment,
                                     title='Unemployment in India',
                                     explorative=True)


# Save the reports
profile_unemployment.to_file(r'.\profiles\unemployment_data_profile.html',
                             silent=True)
profile_spendings.to_file(r'.\profiles\spendings_data_profile.html',
                          silent=True)

Summarize dataset: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 26/26 [00:00<00:00, 28.98it/s, Completed]
Generate report structure: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:01<00:00,  1.03s/it]
Render HTML: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:00<00:00,  3.80it/s]
Export report to file: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:00<00:00, 199.93it/s]
Summarize dataset: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 20/20 [00:00<00:00, 32.48it/s, Completed]
Generate report structure: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:01<00:00,  1.52s/it]
Render HTML: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:00<00:00,  6.75it/s]
Export report to file: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:00<00:00, 199.67it/s]

The spendings data profile is saved at: .\profiles\spendings_data_profile.html
The unemployment data profile is saved at: .\profiles\unemployment_data_profile.html

In [18]:
print(r'The spendings data profile is saved at: .\profiles\spendings_data_profile.html')
print(r'The unemployment data profile is saved at: .\profiles\unemployment_data_profile.html')

The spendings data profile is saved at: .\profiles\spendings_data_profile.html
The unemployment data profile is saved at: .\profiles\unemployment_data_profile.html

#### Manually üßë‚Äçüî¨

Credit Card Spendings

In [48]:
# Shape of dataset
print(f'Number of rows: {df_spendings.shape[0]}')
print(f'Number of null values: {df_spendings.isnull().sum().sum()}\n')

# Describe the numerical columns
print('Numerical columns description: ')
print(tabulate(df_spendings.describe().T.astype(int), headers='keys', tablefmt='pretty')) #type: ignore

# Describe the categorical columns
print('\nCategorical columns description: ')
print(tabulate(df_spendings.describe(include='object').T, headers='keys', tablefmt='pretty')) #type: ignore

Number of rows: 26052
Number of null values: 0

Numerical columns description:
+----------+-------+--------+--------+------+-------+--------+--------+--------+
|          | count |  mean  |  std   | min  |  25%  |  50%   |  75%   |  max   |
+----------+-------+--------+--------+------+-------+--------+--------+--------+
| df_index | 26052 | 13025  |  7520  |  0   | 6512  | 13025  | 19538  | 26051  |
|  Amount  | 26052 | 156411 | 103063 | 1005 | 77120 | 153106 | 228050 | 998077 |
+----------+-------+--------+--------+------+-------+--------+--------+--------+

Categorical columns description:
+-----------+-------+--------+------------------+-------+
|           | count | unique |       top        | freq  |
+-----------+-------+--------+------------------+-------+
|   City    | 26052 |  986   | Bengaluru, India | 3552  |
|   Date    | 26052 |  730   |    2020-01-26    |  66   |
| Card Type | 26052 |   4    |      Silver      | 6840  |
| Exp Type  | 26052 |   6    |       Food       | 5463  |
|  Gender   | 26052 |   2    |        F         | 13680 |
+-----------+-------+--------+------------------+-------+

Unemployment

In [47]:
# Shape of dataset
print(f'Number of rows: {df_unemployment.shape[0]}')
print(f'Number of null values: {df_unemployment.isnull().sum().sum()}\n')

# Describe the unemployment data
print('Numerical columns description: ')
print(tabulate(df_unemployment.describe().T.astype(int), headers='keys', tablefmt='pretty')) #type: ignore

# Describe the categorical columns
print('\nCategorical columns description: ')
print(tabulate(df_unemployment.describe(include='object').T, headers='keys', tablefmt='pretty')) #type: ignore

Number of rows: 768
Number of null values: 196

Numerical columns description:
+-----------------------------------------+-------+---------+---------+-------+---------+---------+----------+----------+
|                                         | count |  mean   |   std   |  min  |   25%   |   50%   |   75%    |   max    |
+-----------------------------------------+-------+---------+---------+-------+---------+---------+----------+----------+
|     Estimated Unemployment Rate (%)     |  740  |   11    |   10    |   0   |    4    |    8    |    15    |    76    |
|           Estimated Employed            |  740  | 7204460 | 8087988 | 49420 | 1190404 | 4744178 | 11275489 | 45777509 |
| Estimated Labour Participation Rate (%) |  740  |   42    |    8    |  13   |   38    |   41    |    45    |    72    |
+-----------------------------------------+-------+---------+---------+-------+---------+---------+----------+----------+

Categorical columns description:
+-----------+-------+--------+----------------+------+
|           | count | unique |      top       | freq |
+-----------+-------+--------+----------------+------+
|  Region   |  740  |   28   | Andhra Pradesh |  28  |
|   Date    |  740  |   14   |   31-10-2019   |  55  |
| Frequency |  740  |   2    |    Monthly     | 381  |
|   Area    |  740  |   2    |     Urban      | 381  |
+-----------+-------+--------+----------------+------+

#### Appointments üìñ

- Credit Card Spendings
  - Each row is a spending in a city in certain date
  - The column `City` has the name of country concatenated in the end
  - The column `Amount` is not normal distributed
  - The column `index` is not necessary

- Unemployment
  - The `Date` column has the end of month
  - Each row is a record of the unemployment data for a **certain month** in a **certain Indian region**
  - There are rows with complete missing values
    - The missing value maybe represent lack of data for two regions
  - The `Area` column separate the data between urban and rural
  - The column with unployment rate, `Estimated Unemployment Rate (%)`, is not normal distributed
    - The kurtois of 7.4 states that the distribution has a heavy tail and the value of 2.2 for skewness states that the distribution is not symmetric and is skewed to the right.
  - The columns has a leading space in the name

### 2.c.ii. Identify the most important information

The answer for the question could be a set of two graphs.

1. A scatter graph with **monthly unemployment rate in the x-axis** and the **monthly sum of credit card amount spent** in the y-axis. One for each region.
2. A line graph with months in the x-axis and two lines: one for the **monthly sum of credit card amount spent** and another for the **monthly unemployment rate**. One for each region.

The first graph allows to see if there is a correlation between the unemployment rate and the credit card spendings.  
The second graph allows to see the trend of the two variables.

Based on this, from the dataset, the most important information is concerning the columns of **date, region, unemployment rate and amount spent.**

### 2.c.iii. Identify the missing data

Unemployment

In [142]:
print(f'For the spendings data, the number of null values in each column is: ')
print(tabulate(df_spendings.isnull().sum().to_frame(), 
               headers='keys', tablefmt='pretty')) #type: ignore

print(f'\nFor the unemployment data, the number of null values in each column is: ')
print(tabulate(df_unemployment.isnull().sum().to_frame(), 
               headers='keys', tablefmt='pretty')) #type: ignore

For the spendings data, the number of null values in each column is:
+-----------+---+
|           | 0 |
+-----------+---+
| df_index  | 0 |
|   City    | 0 |
|   Date    | 0 |
| Card Type | 0 |
| Exp Type  | 0 |
|  Gender   | 0 |
|  Amount   | 0 |
+-----------+---+

For the unemployment data, the number of null values in each column is:
+-----------------------------------------+----+
|                                         | 0  |
+-----------------------------------------+----+
|                 Region                  | 28 |
|                  Date                   | 28 |
|                Frequency                | 28 |
|     Estimated Unemployment Rate (%)     | 28 |
|           Estimated Employed            | 28 |
| Estimated Labour Participation Rate (%) | 28 |
|                  Area                   | 28 |
+-----------------------------------------+----+

As stated before, the unemployment dataset has missing values. 

The might be a lack of data for two regions.

In [143]:
( 
    df_unemployment
    .groupby(['Region', 'Area'])
    .agg(count=(' Date', 'count'))
    .reset_index()
    .pivot_table(index='Region', columns='Area', values='count', fill_value=0)
    .style.format('{:.0f}')
    .map(lambda x: 'background-color: #B8860B' if x < 14 else '')
)

Actually, the missing values are not only in two regions, but in some of them and in both urban and rural areas.

One possible solution is to model the missing values with a regression algorithm and fill with the predicted values.

### 2.c.iv. Identify problems regarding data quality

##### Integrity constraints 

**Unemployment data**:  

- We should have unique month-year for each row  (Uniqueness)
- Percentage should be between 0 and 100  (Value Range)
- There should be only Urban and Rural as values for Area 

**Spendings data**:

- Amount should be positive and greater than 0 and not null (Value Range)
- Date should be filled
- City should be filled to allow integration with unemployment data

## 3. Define an integrated data model

### 3.a ER Diagram

ERD

![20241111-20-55-02](imgs/20241111-20-55-02.png)

### 3.b Needed transformations to integrate the data

Needed transformations:

Spendings:
- Group the rows by month
- Get

## 4 Develop and implement a strategy that based on the data models and the data

### 4.a. Extract the data from the dataset according to the data models

### 4.b. use the data from 4.a and the model defined in 3 to produce a single integrated dataset

## 5.  For the selected attributes

a. Classify the attribute as numeric, textual, categorical, or boolean. If you can't classify, discuss why (e.g., an attribute has values 1, 3, and medium, so it's neither numeric nor categorical). (A+M) 

b. Plot the distribution of numerical values. Find outliers (You can use histograms, but the report does not need to show all of them, just one or two of the most interesting ones) (A)

c. Report the average, min and max length of textual values (A) 

d. For categorical values, report the number of unique values and their distribution. (A) 

e. Report the fraction of missing values for each attribute. 

f. Present other issues you found, such as: different formats (common with dates), synonyms, misplaced attribute values (e.g., last name included in first name attribute). (A+M)

## 6. Select one or more problems identified in 1 and implement a solution, e.g.:

a. ill-in missing values following a particular strategy  
b. normalize date formats  
c. normalize string formats

## 7.  Implement one or more strategies for entity similarity to detect and merge duplicates (A)

a.  Use string similarity to detect potential duplicates i. make sure to normalize textual data, dates, etc (A) 

b.  Define rules to solve duplicates (solve one or two types of issues, even if you detect more) i. e.g., if names of actors have string similarity >80% and the set of movies they act in overlaps by more than 90%, then merge the actors.